/rknn_yolov5_demo/
/data/
rknn_rgbt/.vscode/*
rknn_rgbt/build/build_RK3588_linux_aarch64_Release/
rknn_rgbt/convert/data/
rknn_rgbt/convert/SNAPSHOT_FP16/*
rknn_rgbt/convert/SNAPSHOT_INT8/*
rknn_rgbt/convert/utils/__pycache__/
rknn_rgbt/model_temp/
rknn_rgbt/convert/val/images/*
rknn_rgbt/convert/val/labels/*
rknn_rgbt/install/*
rknn_rgbt/test/*
*.cache
*.sh
!rknn_rgbt/build-linux.sh
!rknn_rgbt/convert/utils/modify.sh
!rknn_rgbt/push_3588.sh
*.txt
!rknn_rgbt/CMakeLists.txt
*.jpg
*.onnx
*.rknn
